APP_NAME="Fundación Grupo Social"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://3.88.87.19

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

MAIL_MAILER=log
MAIL_FROM_ADDRESS="contactenos@fundaciongruposocial.co"
MAIL_FROM_NAME="${APP_NAME}"

ZENDESK_API_EMAIL=
ZENDESK_API_TOKEN=

STATAMIC_LICENSE_KEY=
STATAMIC_PRO_ENABLED=false
STATAMIC_TWO_FACTOR_ENABLED=false
STATAMIC_ELEVATED_SESSIONS_ENABLED=false
